$taenzle-bg: rgb(103, 110, 120);
$taenzle-rose: rgb(255, 194, 210);
$taenzle-nav: rgba(177, 174, 174, 0.423);
$taenzle-fg: whitesmoke;

* {
  box-sizing: border-box;
}
::selection {
  color: $taenzle-bg;
  background: $taenzle-rose;
}
html {
  height: 100%j;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  background-color: $taenzle-bg;
  padding: 0;
  color: $taenzle-fg;
  font-family: Arial, sans-serif;
  section {
    padding: 30px 10%;
    max-width: 2000px;
  }
  h2 {
    font-size: 3rem;
  }
}

.schriftzug {
  color: $taenzle-rose;
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 30px 2% 50px;
  width: 100%;
  max-width: 2000px;
  color: whitesmoke;
  font-size: 2rem;
  nav {
    grid-column: 2;
  }
  b {
    position: relative;
    bottom: 3px;
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: Geneva, Verdana, sans-serif;
  }
}

h2 {
  font-size: 3rem;
}

.logo {
  grid-column: 1;
  min-width: fit-content;
  height: fit-content;
  img {
    position: relative;
    top: 10px;
    width: 100%;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  position: relative;
  grid-column: 3;
  justify-content: center;
  gap: 2px;
  width: 100%;
  a {
    display: flex;
    img {
      height: clamp(14px, 2.8vw, 48px);
    }
  }
}
.front-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  white-space: nowrap;
  li {
    a {
      position: relative;
      cursor: pointer;
      color: $taenzle-fg;
      font-size: clamp(1rem, 2vw, 2rem);
      text-decoration: none;
    }
    ::after {
      display: block;
      position: relative;
      top: 5px;
      right: 0px;
      left: 0px;
      transform: scale(0, 1);
      transition: transform 400ms ease-in-out;
      margin: 0px 2%;
      background-color: $taenzle-rose;
      min-height: 2px;
      content: "";
    }
    :hover {
      transition: color 400ms ease-in-out;
      color: $taenzle-rose;
    }
    :hover::after {
      transform: scale(1, 1);
    }
  }
}

footer {
  background-color: $taenzle-nav;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  padding: 0px 2% 50px;
  width: 100%;
  blockquote {
    position: relative;
    margin: 11% 10%;
    padding: 0;
    font-style: italic;
    font-size: clamp(0.9rem, 3vw, 2.2rem);
    &::before {
      bottom: 40%;
      left: -20%;
      content: open-quote;
    }
    &::after {
      top: -20%;
      right: -20%;
      content: close-quote;
    }
    &::before,
    &::after {
      position: absolute;
      color: $taenzle-rose;
      font-size: clamp(0.9rem, 10vw, 9rem);
      line-height: 1.618;
      text-align: center;
    }
  }
}

/* INTRO */
.intro {
  .title-image {
    display: flex;
    gap: 80px;
    #intro-portrait {
      width: 50%;
      min-width: 440px;
      object-fit: cover;
    }
    #suess {
      width: 50%;
    }
    .intro-text {
      flex-direction: column;
      align-items: center;
      width: 50%;
      max-width: 650px;
      text-align: left;
      h1 {
        margin: 10% 0%;
        font-size: clamp(64px, 4vw, 96px);
      }
      p {
        max-width: 90%;
        font-size: 1.3rem;
        text-align: left;
      }
      .kontakt {
        font-size: 1.1rem;
        text-align: end;
        h2 {
          margin-bottom: 0px;
        }
        ul {
          padding-left: 0px;
          list-style: none;
          li {
            padding-bottom: 5px;
            a {
              color: $taenzle-fg;
              text-decoration: none;
            }
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* UEBERMICH */
.uebermich {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
  .uebermich-portrait {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    #uebermich-portrait-img {
      border-radius: 50%;
      width: clamp(50px, 55%, 255px);
    }
  }
  h2 {
    min-width: max-content;
    font-size: clamp(2rem, -0.5rem + 4vw, 3.5rem);
  }
  .uebermich-cv {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 0%;
    padding: 0% 0%;
    font-size: 1.2rem;
    .cv-column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0% 2rem;
      width: 60%;
      ul {
        margin-bottom: 0%;
        padding-left: 2rem;
        width: 75%;
        max-width: 400px;
        list-style: square;
        li {
          padding: 0.5rem;
          &::marker {
            color: $taenzle-rose;
          }
        }
      }
      h3 {
        margin-bottom: 0%;
        width: 75%;
        min-width: min-content;
        max-width: 400px;
      }
      + .cv-column {
        align-items: flex-start;
      }
    }
  }
  #uebermich-graphic-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    img {
      max-height: 450px;
    }
  }
}

/* EINDRUECKE */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 15px;
    min-height: auto;
    object-fit: cover;
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .eindruck-titel {
        margin: 0px 0px 5px;
        font-size: clamp(0.9rem, -1.5rem + 2vw, 1.2rem);
      }
      .eindruck-datum {
        margin-top: 0px;
      }
    }
    img {
      aspect-ratio: 0.8;
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      object-position: center;
    }
  }
}

/* ANGEBOTE */
.angebote > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
  .angebot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: none;
    min-height: none;
    h3 {
      white-space: nowrap;
    }
    img {
      width: 100%;
      min-height: 50%;
      max-height: 50%;
      object-fit: cover;
    }
    p {
      margin-top: 3%;
      margin-bottom: 0%;
    }
    li {
      margin-bottom: 5px;
    }
  }
}

/********************************************************************************/
/* Responsive layout - makes a one column layout instead of a two-column layout */
/********************************************************************************/
@media (max-width: 1000px) {
  body {
    display: inline;
    min-width: 320px;
    section {
      padding-right: 7%;
      padding-left: 7%;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* padding-right: 3%; */
    /* padding-left: 2%; */
    padding-right: 7%;
    padding-bottom: min(60px, 10vw);
    padding-left: 7%;
    width: 100vw;
    b {
      bottom: 0px;
      justify-self: initial;
    }
    nav {
      all: unset;
      position: absolute;
      top: 65px;
      right: 0px;
      left: 0px;
      box-shadow:
        0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
      background-color: $taenzle-nav;
      color: $taenzle-fg;
      li {
        a {
          width: max-content;
          margin: auto;
        }
      }
    }

    .logo {
      all: unset;
    }
    .logo img {
      top: 0;
      max-width: 150px;
    }

    .front-buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3vw;
      li {
        a {
          display: block;
          align-content: baseline;
          padding: max(10px, 1vw);
          font-size: clamp(0.7rem, 4vw, 1.5rem);
          text-align: center;
          &::after {
            display: none;
          }
          &:hover {
            transition: unset;
            color: unset;
          }
        }
      }
    }

    .socials {
      right: unset;
      bottom: 8px;
      padding: unset;
      width: unset;
      a {
        img {
          height: 100%;
          height: clamp(14px, 5.5vw, 24px);
        }
      }
    }
  }

  .intro {
    justify-content: center;
    .title-image {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      /* margin-top: 50px; */
      #intro-portrait {
        all: unset;
        width: 100%;
        max-width: 450px;
        max-height: 500px;
        object-fit: cover;
        object-position: 0% 10%;
      }
      .intro-text {
        flex-direction: column;
        margin-right: 0px;
        width: 100%;
        h1 {
          margin: 0px;
        }
      }
    }
  }

  .uebermich {
    #uebermich-graphic-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 65%;
      }
    }
    .uebermich-portrait {
      align-items: center;
      margin-top: 10px;
      width: 100%;
      h2 {
        align-self: center;
        margin-top: 4%;
      }
    }
    .uebermich-cv {
      display: flex;
      flex-direction: column;
      margin: 0px 10%;
      .cv-column {
        all: unset;
        flex-direction: column;
        background: none;
        height: 100%;
        h3 {
          max-width: unset;
        }
        ul {
          min-width: 100%;
        }
      }
      #sonstige-ausbildungen {
        align-items: center;
        h3 {
          padding-right: 16px;
          width: 100%;
          text-align: right;
        }
        ul {
          padding-right: 32px;
          padding-left: 0px;
          direction: rtl;
          text-align: right;
        }
      }
    }
  }

  /* ANGEBOTE */
  .angebote > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      align-self: flex-start;
    }
    .angebot {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      img {
        max-width: 100%;
      }
      p {
        margin-top: 3%;
      }
      ul {
        padding-left: 1.5rem;
      }
      li {
        margin-bottom: 5px;
      }
    }
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery figure {
    margin-bottom: 8%;
  }
}
