:root {
  --taenzle-gray: rgb(103, 110, 120);
  --taenzle-rose: rgb(255, 194, 210);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%j;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--taenzle-gray);
  padding: 0;
  color: whitesmoke;
  font-family: Arial, sans-serif;
}

section {
  padding: 30px 10%;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 2% 50px;
  width: 60%;
  min-width: 800px;
  max-width: 1080px;
  color: whitesmoke;
  font-size: 2rem;
}

.schriftzug {
  bottom: 10px;
}

header b {
  font-family: Geneva, Verdana, sans-serif;
}

header .logo {
  height: fit-content;
  border-radius: 50%;
  width: 100px;
}
header .logo img {
  border-radius: 50%;
  height: 100px;
}

.socials {
  /* min-width: max-content; */
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 100px;
}

header .socials a {
  display: flex;
  align-items: center;
  height: 2em;
  object-fit: cover;
}

header .socials a img {
  height: 50%;
}

/* INTRO */

.title-image {
  display: flex;
  gap: 80px;
}

.intro img {
  width: 50%;
  max-width: 650px;
  object-position: center;
}

.intro-text {
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 650px;
  text-align: left;
}

.intro-text h1 {
  margin: 0;
  font-size: xx-large;
}

.intro-text p {
  max-width: 90%;
  text-align: left;
}

nav {
  width: 450px;
  position: absolute;
  top: 130px;
}

.schriftzug {
  text-align: center;
}

.front-buttons {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  flex-direction: row;
}

.front-buttons a {
  position: relative;
  cursor: pointer;
  color: whitesmoke;
  font-size: large;
  text-decoration: none;
}

.front-buttons a::after {
  display: block;
  min-height: 2px;
  background-color: var(--taenzle-rose);
  content: "";
  position: relative;
  top: 5px;
  left: 0px;
  right: 0px;
  margin: 0px 2%;
  transform: scale(0, 1);
  transition: transform 400ms ease-in-out;
}
.front-buttons a:hover {
  color: var(--taenzle-rose);
  transition: color 400ms ease-in-out;
}

.front-button:hover::after {
  transform: scale(1, 1);
}

/* UEBERMICH */
.uebermich {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}
.uebermich::after {
  width: 100%;
  height: 100vw;
  content: "";
}
.uebermich-portrait {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.uebermich img {
  border-radius: 50%;
  width: clamp(50px, 55%, 175px);
}
.uebermich h2 {
  min-width: max-content;
  font-size: clamp(2rem, -0.5rem + 4vw, 3.5rem);
}
.uebermich-cv {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 0%;
  padding: 0% 0%;
  font-size: large;
}
.cv-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0% 2rem;
}
.cv-column ul {
  margin-bottom: 0%;
  padding-left: 2rem;
  width: 75%;
  max-width: 400px;
}
.cv-column h3 {
  margin-bottom: 0%;
  width: 75%;
  min-width: min-content;
  max-width: 400px;
}
.cv-column li {
  padding: 2%;
}
.cv-column + .cv-column {
  align-items: flex-start;
}

/* EINDRUECKE */
.eindruecke {
  background-color: yellow;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: safe;
  background-color: aqua;
}
.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
  min-width: 0px;
  max-width: 330px;
  object-fit: cover;
}
.gallery figure img {
  aspect-ratio: 0.6;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

/* ANGEBOTE */
.angebote > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
}
.angebote h2 {
  font-size: 3rem;
  margin: 3% 0;
}

.angebot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.angebot img {
  min-height: 50%;
  max-height: 50%;
  width: 100%;
  object-fit: cover;
}
.angebot p {
  margin-top: 3%;
  margin-bottom: 0%;
}
.angebot li {
  margin-bottom: 5px;
}

/********************************************************************************/
/* Responsive layout - makes a one column layout instead of a two-column layout */
/********************************************************************************/
@media (max-width: 800px) {
  section {
    padding-right: 7%;
    padding-left: 7%;
  }
  body {
    display: inline;
  }
  header {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 5%;
    width: 100vw;
    min-width: unset;
    max-width: unset;
  }
  nav {
    all: unset;
    position: absolute;
    top: 120px;
    max-width: 100vw;
    left: 0px;
    right: 0px;
  }
  .front-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 3vw;
    text-align: center;
  }
  .front-button:hover::after {
    all: unset;
  }

  header::after {
    display: block;
    min-height: 4px;
    background-color: var(--taenzle-rose);
    content: "";
    position: absolute;
    top: 105px;
    left: 0px;
    right: 0px;
    /* margin: 0px 2%; */
    /* transform: scale(1, 1); */
    /* transition: transform 400ms ease-in-out; */
  }

  header .logo img {
    align-self: baseline;
    height: 64px;
  }
  .socials {
    min-width: 64px;
  }
  .socials img {
    max-height: 2rem;
  }
  .socials a {
    align-items: none;
  }
  .intro {
    justify-content: center;
    width: 100vw;
  }
  .title-image {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .intro-text {
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
  }
  .intro img {
    margin-left: 0px;
    width: 100%;
  }
  .uebermich-portrait {
    align-items: center;
    width: 100%;
  }
  .uebermich-portrait h2 {
    align-self: center;
  }
  .uebermich-cv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cv-column {
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
  }
  .cv-column ul {
    min-width: 100%;
  }
  .cv-column + .cv-column {
    align-items: center;
    background: none;
  }
  /* ANGEBOTE */

  .angebote > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .angebote > div h2 {
    align-self: flex-start;
    font-size: 2rem;
  }
  .angebot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .angebot img {
    max-width: 100%;
  }
  .angebot p {
    margin-top: 3%;
  }
  .angebot ul {
    padding-left: 1.5rem;
  }
  .angebot li {
    margin-bottom: 5px;
  }
}
@media (max-width: 380px) {
  header {
    flex-direction: row;
    padding: 2% 2% 70px;
    gap: 10px;
  }
  .logo {
    display: none;
  }
  header .schriftzug {
    display: block;
  }
  nav {
    top: 55px;
  }
  .front-buttons {
    justify-content: space-around;
  }
  .front-buttons a {
    font-size: small;
  }
  .socials {
    max-width: fit-content;
  }
}
