:root {
  --taenzle-gray: rgb(103, 110, 120);
  --taenzle-rose: rgb(255, 194, 210);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%j;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--taenzle-gray);
  padding: 0;
  color: whitesmoke;
  font-family: Arial, sans-serif;
}
section {
  padding: 30px 10%;
  max-width: 2000px;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 30px 2% 50px;
  width: 100%;
  max-width: 2000px;
  color: whitesmoke;
  font-size: 2rem;
}
nav {
  grid-column: 2 / 4;
}
h2 {
  font-size: 3rem;
}
header b {
  position: relative;
  bottom: 3px;
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-family: Geneva, Verdana, sans-serif;
}
.logo {
  grid-column: 1;
  min-width: fit-content;
  height: fit-content;
}
.logo img {
  position: relative;
  top: 10px;
  height: calc(5px + 8vw);
  min-height: 80px;
  max-height: 144px;
}
.socials {
  display: flex;
  grid-column: 4;
  justify-content: center;
  gap: 2px;
  padding: 0% 1vw 0% 0%;
  width: 100%;
}
.socials a {
  display: flex;
  align-items: center;
  height: 2em;
  height: clamp(24px, 8vw, 140px);
  min-height: 80px;
  max-height: 144px;
  object-fit: cover;
}
.socials a img {
  height: 30%;
}
.front-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  white-space: nowrap;
}
.front-buttons a {
  position: relative;
  cursor: pointer;
  color: whitesmoke;
  font-size: clamp(1rem, 2vw, 2rem);
  text-decoration: none;
}
.front-buttons a::after {
  display: block;
  position: relative;
  top: 5px;
  right: 0px;
  left: 0px;
  transform: scale(0, 1);
  transition: transform 400ms ease-in-out;
  margin: 0px 2%;
  background-color: var(--taenzle-rose);
  min-height: 2px;
  content: "";
}
.front-buttons a:hover {
  transition: color 400ms ease-in-out;
  color: var(--taenzle-rose);
}
.front-button:hover::after {
  transform: scale(1, 1);
}

footer {
  display: flex;
  justify-content: center;
  padding: 100px 2% 50px;
  width: 100%;
  max-width: 1440px;
}
blockquote {
  position: relative;
  margin: 11% 10%;
  padding: 0;
  font-style: italic;
  font-size: clamp(0.9rem, 3vw, 2.2rem);
}
blockquote::before {
  bottom: 40%;
  left: -20%;
  content: open-quote;
}
blockquote::after {
  top: -20%;
  right: -20%;
  content: close-quote;
}
blockquote::before,
blockquote::after {
  position: absolute;
  /* position: relative; */
  color: var(--taenzle-rose);
  font-size: clamp(0.9rem, 10vw, 9rem);
  line-height: 1.618;
  text-align: center;
}

/* INTRO */
.title-image {
  display: flex;
  gap: 80px;
}
.intro img {
  width: 50%;
}
#intro-portrait {
  width: 50%;
  min-width: 440px;
  object-fit: cover;
}
.intro-text {
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 650px;
  text-align: left;
}
.intro-text h1 {
  margin: 10% 0%;
  font-size: clamp(64px, 4vw, 96px);
}
.intro-text p {
  max-width: 90%;
  font-size: 1.3rem;
  text-align: left;
}
.kontakt {
  font-size: 1.1rem;
  text-align: end;
}
.kontakt h2 {
  margin-bottom: 0px;
}
.kontakt ul {
  padding-left: 0px;
  list-style: none;
}
.kontakt ul li {
  padding-bottom: 5px;
}
.kontakt ul li a {
  color: whitesmoke;
  text-decoration: none;
}
.kontakt ul li a:hover {
  text-decoration: underline;
}

/* UEBERMICH */
.uebermich {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}
#uebermich-graphic-mobile {
  display: none;
}
.uebermich-portrait {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
#uebermich-portrait {
  border-radius: 50%;
  width: clamp(50px, 55%, 175px);
}
.uebermich h2 {
  min-width: max-content;
  font-size: clamp(2rem, -0.5rem + 4vw, 3.5rem);
}
.uebermich-cv {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 0%;
  padding: 0% 0%;
  font-size: 1.2rem;
}
.cv-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0% 2rem;
  width: 60%;
}
.cv-column ul {
  margin-bottom: 0%;
  padding-left: 2rem;
  width: 75%;
  max-width: 400px;
}
.cv-column h3 {
  margin-bottom: 0%;
  width: 75%;
  min-width: min-content;
  max-width: 400px;
}
.cv-column ul li {
  padding: 0.5rem;
}
.cv-column ul li::marker {
  color: var(--taenzle-rose);
}
.cv-column + .cv-column {
  align-items: flex-start;
}

/* EINDRUECKE */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
}
.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  min-height: auto;
  object-fit: cover;
  font-size: large;
}
.gallery figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.gallery figure img {
  aspect-ratio: 0.8;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}
.eindruck-titel {
  margin: 0px;
}
.eindruck-datum {
  margin-top: 0px;
}

/* ANGEBOTE */
.angebote > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
}
.angebot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: none;
  min-height: none;
}
.angebot img {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  object-fit: cover;
}
.angebot p {
  margin-top: 3%;
  margin-bottom: 0%;
}
.angebot li {
  margin-bottom: 5px;
}

/********************************************************************************/
/* Responsive layout - makes a one column layout instead of a two-column layout */
/********************************************************************************/
@media (max-width: 1000px) {
  section {
    padding-right: 7%;
    padding-left: 7%;
  }
  body {
    display: inline;
  }
  header {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-right: 5%;
    padding-bottom: 25px;
    width: 100vw;
    min-width: unset;
    max-width: unset;
  }
  header::after {
    display: block;
    position: absolute;
    top: 110px;
    right: 0px;
    left: 0px;
    background-color: var(--taenzle-rose);
    min-height: 4px;
    content: "";
    /* margin: 0px 2%; */
    /* transform: scale(1, 1); */
    /* transition: transform 400ms ease-in-out; */
  }
  header b {
    bottom: 0px;
    justify-self: initial;
  }
  nav {
    all: unset;
    position: absolute;
    top: 130px;
    right: 0px;
    left: 0px;
    max-width: 100vw;
  }
  .front-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 3vw;
    text-align: center;
  }
  .front-buttons a {
    all: unset;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
  }
  .front-buttons a::after {
    display: none;
  }
  .front-button:hover::after {
    all: unset;
  }
  .logo img {
    position: relative;
    top: 10px;
    align-self: baseline;
  }
  .socials {
    padding-right: 0;
    max-width: 100px;
    justify-self: end;
  }
  .socials a {
    align-items: center;
  }

  .intro {
    justify-content: center;
  }
  .title-image {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  .intro-text {
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
  }
  .intro-text h1 {
    margin: 0px;
  }
  #uebermich-graphic-mobile {
    display: initial;
    width: 100%;
    max-width: 650px;
  }
  .uebermich-portrait {
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  #intro-portrait {
    all: unset;
    width: 100%;
    object-fit: cover;
  }
  .uebermich-portrait h2 {
    align-self: center;
  }
  .uebermich-cv {
    display: flex;
    flex-direction: column;
    margin: 0px 10%;
  }
  .cv-column {
    all: unset;
    flex-direction: column;
    background: none;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
  }
  .cv-column h3 {
    max-width: unset;
  }
  .cv-column ul {
    min-width: 100%;
    list-style: square;
  }
  #sonstige-ausbildungen {
    align-items: center;
  }
  #sonstige-ausbildungen h3 {
    padding-right: 16px;
    width: 100%;
    text-align: right;
  }
  #sonstige-ausbildungen ul {
    padding: 0 32px 0 0;
    direction: rtl;
    text-align: right;
  }

  /* ANGEBOTE */
  .angebote > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .angebote > div h2 {
    align-self: flex-start;
  }
  .angebot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .angebot img {
    max-width: 100%;
  }
  .angebot p {
    margin-top: 3%;
  }
  .angebot ul {
    padding-left: 1.5rem;
  }
  .angebot li {
    margin-bottom: 5px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery figure {
    margin-bottom: 8%;
  }
}
@media (max-width: 359px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 2% 2% 6px;
  }
  .logo img {
    position: relative;
    max-width: 90vw;
    bottom: 6px;
  }
  .schriftzug {
    display: block;
  }
  .front-buttons {
    justify-content: space-around;
  }
  .front-buttons a {
    font-size: small;
  }
  .socials {
    display: none;
    max-width: fit-content;
  }
  .socials a {
    position: relative;
    bottom: 8px;
  }

  .uebermich-cv {
    font-size: 0.8rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
}
