:root {
  --taenzle-gray: rgb(103, 110, 120);
  --taenzle-rose: rgb(255, 194, 210);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%j;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--taenzle-gray);
  color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

section {
  padding: 2% 10%;
}

/* HEADER */

header {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 60%;
  min-width: 800px;
  max-width: 1414px;
  align-items: center;
  padding: 30px 2%;
  font-size: 2rem;
}

header b {
  font-family: Geneva, Verdana, sans-serif;
}

header .logo img {
  border-radius: 50%;
  height: 100px;
}

.socials {
  /* min-width: max-content; */
  display: flex;
  gap: 2px;
}

header .socials a {
  display: flex;
  align-items: center;
  height: 2em;
}

header .socials a img {
  height: 50%;
}

/* INTRO */

.title-image {
  display: flex;
  gap: 80px;
}

.intro img {
  width: 50%;
  max-width: 650px;
  object-position: center;
}

.intro-text {
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 650px;
  text-align: left;
}

.intro-text h1 {
  margin: 0;
  font-size: xx-large;
}

.intro-text p {
  max-width: 90%;
  text-align: left;
}

.intro-text .front-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.front-button {
  cursor: pointer;
  border: none;
  background-color: #1e1e1e;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.intro-text button:hover {
  background-color: #000;
}


/* UEBERMICH */
.uebermich {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uebermich::after {
  width: 100%;
  height: 100vw;
  content: "";
}
.uebermich-portrait {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.uebermich img {
  border-radius: 50%;
  width: clamp(50px, 55%, 175px);
}
.uebermich h2 {
  min-width: max-content;
  font-size: clamp(2rem, -0.5rem + 4vw, 3.5rem);
}
.uebermich-cv {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 0%;
  padding: 0% 0%;
  font-size: large;
}
.cv-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding: 0% 2rem;
  width: 100vw;
}
.cv-column ul {
  margin-bottom: 0%;
  padding-left: 2rem;
  width: 75%;
  max-width: 400px;
}
.cv-column h3 {
  margin-bottom: 0%;
  width: 75%;
  min-width: min-content;
  max-width: 400px;
}
.cv-column li {
  padding: 2%;
}
.cv-column + .cv-column {
  align-items: flex-start;
  margin-right: auto;
  margin-left: 0px;
}

/* EINDRUECKE */
.eindruecke {
  background-color: yellow;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: safe;
  background-color: aqua;
}
.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
  min-width: 0px;
  max-width: 330px;
  object-fit: cover;
}
.gallery figure img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 0.6;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  section {
    padding-right: 7%;
    padding-left: 7%;
  }
  body {
    display: inline;
  }
  header {
    justify-content: space-between;
    min-width: unset;
    max-width: unset;
    padding-right: 5%;
    padding-left: 5%;
    width: 100vw;
  }
  header .logo img {
    height: 68px;
  }
  .intro {
    justify-content: center;
    width: 100vw;
  }
  .title-image {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .intro-text {
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
  }
  .intro img {
    margin-left: 0px;
    width: 100%;
  }
  .uebermich-portrait {
    align-items: center;
    width: 100%;
  }
  .uebermich-portrait h2 {
    align-self: center;
  }
  .uebermich-cv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cv-column {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    background: none;
    width: 100%;
    height: 100%;
  }
  .cv-column + .cv-column {
    align-items: center;
    background: none;
  }
}
@media (max-width: 360px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}